
#Count{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: serif;
    color: red;
}

.container {
    width: 500px;
    height: 500px;
    background-color:darkslategrey;
    text-align: center;
    margin: auto;
}

.btn {
    margin: 20px;
    padding: 10px 20px;
    background-color:darkolivegreen;
    color: #fff;
    font-size: medium;
    cursor: pointer;
    transition: background-color o.25s;
}
.btn:hover {
    background-color: darkgreen;
}


